.header {
  &__container {
    padding: 20px 0;
    display: flex;
    flex-direction: column;

    row-gap: 30px;
    column-gap: 30px;
  }

  &__buttons {
    max-width: 50%;
    display: flex;
    flex-wrap: wrap;

    justify-content: space-between;
  }

  &__filters {
    display: flex;
    column-gap: 30px;
    row-gap: 30px;
  }
}
