* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Roboto', sans-serif;
}

.page {
  margin: 0 auto;
  padding: 0 60px;

  max-width: 1280px;
  width: 100%;
  height: 100%;
}

.spinner__container {
  position: fixed;

  background: rgba(0, 0, 0, 0.396);
  top: 0;
  left: 0;
  right: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}